body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.container .left-section {
    flex: 1;
    background-color: #4169E1; 
}

.container .right-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .right-section h2 {
    margin-bottom: 20px;
}

.container .right-section form {
    width: 100%;
    max-width: 300px;
}

.container .right-section input, 
.container .right-section textarea,
.container .right-section button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .container .left-section, .container .right-section {
        flex: none;
        width: 100%;
    }
}

.tipo{
  font-weight: bold;
  font-size: 16px;
}