{% extends 'base.html' %}
{% block page_title %}
    Listagem de criança
{% endblock page_title %}


{% block content %}

    <h1>Funcionario</h1>
    <h2> Listagem de criança</h2>
    
    <div class="search-container">
        <div class="container">
            <form action="{% url 'procurar' %}" method="GET" class="procurar-form">
                <label>
                    <input type="search" class="procurar-input" name="q" value="{{ procurar_termo }}" required>
                </label>
                <button type="submit" class="btn btn-danger btn-sm"  class="procurar-button"><i class="fas fa-search"></i>Buscar</button>
            </form>
        </div>
  </div>

    {% if cadastro_list %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Críado em</th>
                <th scope="col">Data de entrega</th>
                <th scope="col">Finalizado em</th>
                <th scope="col">Ações</th>
            </tr>
            
            </thead>
            <tbody>
            {% for todo in cadastro_list %}
                    <tr>
                        <th scope="row">  <a href="{% url 'dados' todo.pk %}">  {{ todo.pk }} </a></th>
                        <th scope="row"><a href="{% url 'dados' todo.pk %}"> {{ todo.nome }}</a></th>
                        <th scope="row">{{ todo.cpf }}</th>
                        <th scope="row">{{ todo.telefone }}</th>
                        <th scope="row">{{ todo.sexo }}</th>

                        <td>
                            <a  href="{% url 'cad_complete' pk=todo.pk %}"  class="btn btn-primary btn-sm {% if todo.finished_at %}disabled{% endif %}" >
                                Concluir
                            </a>
                           <!--- <a href="{#% url 'cad_update' pk=todo.pk %#}"  class="btn btn-secondary btn-sm {% if todo.finished_at %}disabled{% endif %}" >
                                Editar
                            </a> -->
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há criança cadastradas</p>
    {% endif %}

    
    
        {% if page_obj.has_previous %}
    {% if request.GET.nome %}
        <a class="page-link" href="?page=1&nome={{request.GET.nome}}">&laquo; Primeira</a>
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{request.GET.nome}}">Anterior</a>
    {% else %}
        <a class="page-link" href="?page=1">&laquo; Primeira</a>
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}
{% endif %}

<span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>

{% if page_obj.has_next %}
    {% if request.GET.nome %}
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{request.GET.nome}}">Próxima</a>
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome={{request.GET.nome}}">Última &raquo;</a>
    {% else %}
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
    {% endif %}
{% endif %}
    
    <a href="{% url 'funcionario_cadastro_crianca' %}" class="btn btn-primary">Cadastrar nova criança</a>
    
     

{% endblock content %}
