<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="search-container">
        <div class="container">
            <form action="{% url 'procurar' %}" method="GET" class="procurar-form">
                <input type="search" class="procurar-input" name="q" value="{{ procurar_termo }}" required>
                <button type="submit" class="procurar-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
  </div>

<div class="main-content main-content-list container">
{% for cadastro in object_list %}
    {% include 'CadVoluntario/resultados_procurar.html' %}
{% empty %}
    <div class="center m-y">
        <h1>Sem pessoas aqui</h1>
    </div>
{% endfor %}
</div>


</body>
</html>