{% extends 'base.html' %}
{% block page_title %}
    Listagem de funcionário
{% endblock page_title %}

{% block content %}


    <h1>Lista de funcionário</h1>

    <div class="search-container">
        <div class="container">
            <form action="{% url 'procurarVoluntarios' %}" method="GET" class="procurar-form">
                <label>
                    <input type="search" class="procurar-input" name="q" value="{{ procurar_termo }}" required>
                </label>
                <button class="btn btn-danger btn-sm" type="submit" class="procurar-button"><i
                        class="fas fa-search"></i>Buscar
                </button>
            </form>
        </div>
    </div>


    {% if cadastrovoluntario_list %}
        <h2>Funcionários:</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Telefone</th>
                <th scope="col">Finalizado em</th>
                <th scope="col">Ações</th>
            </tr>

            </thead>

            <tbody>
            {% for todo in object_list %}
                {% if  todo.situacao == 'Funcionario' %}
                    <tr>
                        <th scope="row"><a href="{% url 'dadosVoluntarios' todo.pk %}">  {{ todo.pk }} </a></th>
                        <th scope="row"><a href="{% url 'dadosVoluntarios' todo.pk %}"> {{ todo.nome }}</a></th>
                        <th scope="row">{{ todo.cpf }}</th>
                        <th scope="row">{{ todo.telefone }}</th>
                        <th scope="row"> {{ todo.situacao }}</th>
                        <td>
                            <a href="{% url 'func_complete' pk=todo.pk %}"
                               class="btn btn-primary btn-sm } {% if todo.situacao not in 'Candidato' %}disabled{% endif %}">
                                Validar</a>

                            <a href="{% url 'adimin_candidato_deletar' pk=todo.pk %}" class="btn btn-danger btn-sm">Excluír</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if cadastrovoluntario_list %}
        <h2>Candidatos:</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Telefone</th>
                <th scope="col">Finalizado em</th>
                <th scope="col">Ações</th>
            </tr>

            </thead>

            <tbody>
            {% for todo in object_list %}
                {% if  todo.situacao == 'Candidato' %}
                    <tr>
                        <th scope="row"><a href="{% url 'dadosVoluntarios' todo.pk %}">  {{ todo.pk }} </a></th>
                        <th scope="row"><a href="{% url 'dadosVoluntarios' todo.pk %}"> {{ todo.nome }}</a></th>
                        <th scope="row">{{ todo.cpf }}</th>
                        <th scope="row">{{ todo.telefone }}</th>
                        <th scope="row"> {{ todo.situacao }}</th>

                        <td>
                            <a href="{% url 'func_complete' pk=todo.pk %}"
                               class="btn btn-primary btn-sm } {% if todo.situacao not in 'Candidato' %}disabled{% endif %}">
                                Validar</a>


                            <a href="{% url 'adimin_candidato_deletar' pk=todo.pk %}" class="btn btn-danger btn-sm">Excluír</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


    {% if page_obj.has_previous %}
        {% if request.GET.nome %}
            <a class="page-link" href="?page=1&nome={{ request.GET.nome }}">&laquo; Primeira</a>
            <a class="page-link"
               href="?page={{ page_obj.previous_page_number }}&nome={{ request.GET.nome }}">Anterior</a>
        {% else %}
            <a class="page-link" href="?page=1">&laquo; Primeira</a>
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
    {% endif %}

    <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>

    {% if page_obj.has_next %}
        {% if request.GET.nome %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{ request.GET.nome }}">Próxima</a>
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome={{ request.GET.nome }}">Última
                &raquo;</a>
        {% else %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    {% endif %}


    <a href="{% url 'homeAdimin' %}" class="btn btn-primary btn-sm }"> Voltar para menu do Adimin</a>


{% endblock content %}
