{% extends 'base.html' %}

{% block page_title %}
busca
{% endblock page_title %}

{% block content %}

{% for cadastro in object_list %}
    <div>
        <h1>Detalhes do Cadastro</h1>
        <p>Nome: {{ cadastro.nome }}</p>
        <p>CPF: {{ cadastro.cpf }}</p>
        <p>Data de Nascimento: {{ cadastro.data_nascimento }}</p>
        <p>Idade: {{ cadastro.idade }}</p>

        <h2>Membros da Família:</h2>

        {% for membro in cadastro.membroFamilia.all %}
            <p>Nome: {{ membro.nome }}</p>
            <p>Sexo: {{ membro.get_sexo_display }}</p>
        {% endfor %}
    </div>
    
      <a href="{% url 'adimin_listagem_crianca' %}">Voltar</a>
{% endfor %}

{% endblock content %}