{% extends 'base.html' %}
{% block page_title %}

    Lista de tarefas

{% endblock page_title %}


{% block content %}

    <h1>Lista de Tarefas</h1>

    {% if todo_list %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Críado em</th>
                <th scope="col">Data de entrega</th>
                <th scope="col">Finalizado em</th>
                <th scope="col">Quantidade</th>
                <th scope="col">float</th>
                <th scope="col">float 2</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in cad_list %}
                <tr>
                    <th scope="row">{{ todo.pk }}</th>

                    <td>{{ todo.titulo }}</td>


                    <td>
                        <a href="{% url 'cad_complete' pk=todo.pk%}" class="btn btn-primary btn-sm">Concluir</a>
                        <a href="{% url 'cad_update' pk=todo.pk %}" class="btn btn-secondary btn-sm">Editar</a>
                        <a href="{% url 'cad_delete' pk=todo.pk %}" class="btn btn-danger btn-sm">Excluír</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há tarefas cadastradas</p>
    {% endif %}
    <a href="{% url 'cad_create' %}" class="btn btn-primary">nova tarefa</a>

{% endblock content %}
